@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');

:root {
    --background: #2A2220;
    --syn: #AA455F;
    --name: #f9e45b;
    --value: #189ab4;
    --prompt: #639E78;
}

a {
    color: #E56739; /* Цвет обычной ссылки */ 
}

a:hover {
    color: #FFFFFF; /* Цвет ссылки при наведении на нее курсора мыши */  
    background: #e24486;
}

::-moz-selection { 
    color: white;
    background: var(--value);
}
  
::selection {
    color: white;
    background: var(--value);
}

html,body {
    font-family: 'Fira Code', monospace;
    background: var(--background);
    color: white;
    font-size: 1.0em;
    font-weight: 400;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0;
}

.prompt {
    color: white;
    background: var(--prompt);
    padding: 0px 10px;
    margin-right: 10px;
}

.prompt-text {
    color: var(--prompt);
}

.syn {
    color: var(--syn);
}

.name {
    color: var(--name);
}

.value {
    color: var(--value);
}

ul {
    list-style-type: none;
}

li {
    margin: 0px 0;
}

a {
    text-decoration: none;
}

a:hover:after {
/*    content: "<-";*/
}

form {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1500px) {
    body {
        font-size: 1em;
    }

    .container {
        padding: 25px 50px;
    }
}